
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Resend confirmation instructions</h2>
    </div>
    <div class="card-body">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
        <br/>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) , class: "form-control", placeholder: "email" %>
        </div>
        <div class="text-center">
          <div class="form-group">
            <%= f.submit "Resend confirmation instructions", class: "btn login_btn"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "users/shared/links" %>
