<% @chat.each do |chat| %>
  <div class="container-home" id="home-container">
    <div class="text-center center tb row" >
      <div class="col-2">
        <%= link_to chat.name, chat_path(chat), class: "link" %>
      </div>
      <div class="col-3 two">
        <%= button_to t(".posts"), posts_path(chat), method: :get, class: "tb-btn" %>
      </div>
      <div class="col-3 two">
        <%= button_to t(".edit"), edit_chat_path(chat), method: :get, class: "tb-btn" %>
      </div>
      <div class="col-3 two">
        <%= button_to t(".delete"), delete_chat_path(chat), method: :delete, class: "tb-btn" %>
      </div>
      <div class="dropdown q one">
        <button class="tb-btn col dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t(".posts") %>
        </button>
        <div class="dropdown-menu c" >
          <%= button_to t(".posts"), posts_path(chat), method: :get, class: "tb-btn dropdown-item" %>
          <%= button_to t(".edit"), edit_chat_path(chat), method: :get, class: "tb-btn dropdown-item" %>
          <%= button_to t(".delete"), delete_chat_path(chat), method: :delete, class: "tb-btn dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= button_to t('.btn_new_chat'), new_chat_path,
                method: :get,
                class: "bg-btn"  %>
</div>

