<div class="container card-container">
  <div class="card card-sign">
    <div class="card-header">
      <h2><%= t('users.sessions.new.forgot_password') %></h2>
    </div>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="input-group form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('users.registrations.edit.email') %>
        </div>
        <div class="text-center">
          <div class="form-group">
            <%= f.submit t('.resend_confirmation'), class: "bg-btn"%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <div class="text-center margin-bottom">
        <span class="text"><%= t('users.sessions.new.no_account') %></span>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t('layouts.sign_up'), new_registration_path(resource_name),  class: 'link'%>
        <% end %>
      </div>
      <div class="text-center">
        <%- if controller_name != 'sessions' %>
          <%= link_to t('users.sessions.new.log_in'), new_session_path(resource_name), class: 'link'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
