<div class="container">
  <div class="jumbotron text-center text-white" id="home-container">
    <h3 id="home-header">Reddit telegram</h3>
    <hr class="my-4" id="home-hr">
    <%= link_to "My posts", my_posts_path, :style=>'color: white;', class: "nav-link active nounderline" %>
    <hr class="my-4" id="home-hr">
    <% @posts.each do |post|%>
      <% next if post.first['stickied'] == true %>
      <div class="jumbotron text-center text-white" id="home-text">
        <p><%= post.first['title'] %></p>
        <% if post.first['is_video'] == true %>
          <%= video_tag post.first['media']['reddit_video']['fallback_url'], :controls => true %>
        <% else %>
          <%= image_tag post.first['url']%>
        <% end %>
        <%= form_for :post do |f| %>
          <%= f.hidden_field :body, value: post.first['title']%>
          <% if post.first['is_video'] == true %>
            <%= f.hidden_field :link, value: post.first['media']['reddit_video']['fallback_url']%>
          <% else %>
            <%= f.hidden_field :link, value: post.first['url']%>
          <% end %>
          <%= f.hidden_field :user_id, value: current_user.id%>
          <%= f.hidden_field :chat_id, value: @chat.id%>
          <div class="col-sm-10">
            <%= f.button :save, class: "btn btn-secondary",
                         style: "margin-top: 15px" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
