<!DOCTYPE html>
<html>
<head>
  <title>RedditTelegram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if user_signed_in? %>
  <div class="space-nav">
    <nav class="navbar navbar-expand sticky-top navbar-dark navbar-style navbar-asi">
      <%= link_to image_tag("logo.png", size: '55'), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-nav nav-center">
          <li class="nav-item li-margin">
            <%= link_to t('layouts.edit_profile'), edit_user_registration_path, class: "nav-link no-underline" %>
          </li>
          <li class="nav-item li-margin">
            <%= link_to t('layouts.chats'), chats_path, class: "nav-link no-underline" %>
          </li>
          <li class="nav-item li-margin">
            <% if current_user.locale  == 'ru' %>
              <%= link_to t('layouts.languages.english'), url_for(locale: 'en'), class: "nav-link no-underline" %>
            <% else %>
              <%= link_to t('layouts.languages.russian'), url_for(locale: 'ru'), class: "nav-link no-underline" %>
            <% end %>
          </li>
        </ul>
        <div class="nav-item sign-out">
          <%= link_to image_tag("signout.png", size: '20'), destroy_user_session_path, method: :delete, class: "nav-link no-underline" %>
        </div>
      </div>
    </nav>
    <%= render 'include/main/notification' %>
  </div>
<% else %>
  <div class="space-nav">
    <nav class="navbar navbar-expand sticky-top navbar-dark navbar-bsi">
      <%= link_to image_tag("logo.png", size: '50'), 'https://t.me/vovak0', class: "navbar-brand hlp" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav nav-nav">
          <li class="nav-item ">
            <%= link_to t('layouts.languages.english'), url_for(locale: 'en'), class: "nav-link no-underline lang" %>
          </li>
          <li class="navbar-text">/</li>
          <li class="nav-item">
            <%= link_to t('layouts.languages.russian'), url_for(locale: 'ru'), class: "nav-link no-underline lang" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<% end %>
<%= yield %>
</body>
</html>
