<!DOCTYPE html>
<html>
<head>
  <title>RedditTelegram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <% if user_signed_in? %>
<nav class="navbar navbar-expand fixed-top navbar-dark navbar-bsi">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t('layouts.edit_profile'), edit_user_registration_path, class: "nav-link active nounderline" %>
          </li>
          <li class="nav-item">
            <%= link_to t('layouts.sign_out'), destroy_user_session_path, method: :delete, class: "nav-link active nounderline" %>
          </li>
          <li class="nav-item">
            <%= link_to t('layouts.chats'), chats_path, class: "nav-link active nounderline" %>
          </li>
        </ul>
      </div>
      <span class="navbar-text nav-text">
        <% if current_user.locale  == 'ru' %>
          <%= link_to t('layouts.languages.english'), url_for(locale: 'en') %>
        <% else %>
          <%= link_to t('layouts.languages.russian'), url_for(locale: 'ru') %>
        <% end %>
      </span>
  </nav>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <% else %>
  <nav class="navbar navbar-expand fixed-top navbar-dark navbar-bsi">
    <%= link_to image_tag("logo.png", size: '50'), 'https://t.me/vovak0', class: "navbar-brand hlp" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <%= link_to t('layouts.languages.english'), url_for(locale: 'en'), class: "nav-link no-underline lang" %>
        </li>
        <li class="navbar-text">/</li>
        <li class="nav-item">
          <%= link_to t('layouts.languages.russian'), url_for(locale: 'ru'), class: "nav-link no-underline lang" %>
        </li>
      </ul>
    </div>
  </nav>
  <% end %>
<!--    <span class="navbar-text nav-text message">-->
<%# flash.each do |name, msg| %>
<%#= content_tag :div, msg, id: "flash_#{name}" %>
<!--        </span>-->
<%# end %>

<%#= render 'include/main/notification' %>
<%= yield %>
</body>
</html>
